@use "sass:color";
//-------------------------------------------------------------顏色---------//
// 定義顏色 此顏色可自由變換
$colorPrimary: #2f476b; //主色
$colorPrimaryLight: color.mix($colorPrimary, #fff, 10%); //主色淺色
$colorPrimaryDark: color.mix($colorPrimary, #000, 90%); //主色深色

$colorSecondary: #666; //輔色
$colorSecondaryLight: color.mix($colorSecondary, #fff, 10%); //輔色淺色
$colorSecondaryDark: color.mix($colorSecondary, #000, 90%); //輔色深色

// word顏色設定
$colorWord: #1a1a1a;
$colorWordLight: #555555;
$colorWordDark: #111111;

// other
$colorDisabled: #dee0e3;
$colorError: #c40000;
$checkboxRadio: #97a3b6;
$colorAccessibility: #ff3d9b;

// nav顏色設定
$surface: $colorPrimary;
$hoverShadow: #80cbd7;

// link顏色設定
$aColor: $colorSecondary;
$aHover: color.mix($aColor, #000, 90%);

//btn
$btnPrimary: #000;
$btnPrimaryHover: #ffdb01;
$btnPrimaryLightHover: $colorPrimaryLight;

$btnSecondary: $colorSecondary;
$btnSecondaryHover: #000;
$btnSecondaryLightHover: $colorSecondaryLight;

$btnNormal: #dee0e3;
$btnNormalHover: color.mix($btnNormal, #000, 90%);
$btnNormalOutline: #69707d;
$btnNormalLightHover: #f1f1f1;
$btnDisabled: $colorDisabled;
$btnDisabledOutline: #97a3b6;

// notice
$noticeNormalGWord: #333;
$noticeNormalGBg: #dee0e3;

$noticeNormalWord: #00529b;
$noticeNormalBg: #cfe5fc;

$noticeSuccessWord: #00754b;
$noticeSuccessBg: #cdf3e6;

$noticeWarningWord: #c23e00;
$noticeWarningBg: #faece6;

$noticeErrorWord: #c40000;
$noticeErrorBg: #fdd7de;

// nav
$navSurface: #ffdb01;
$navSurfaceHover: #000;

// form
$formFocus: $colorPrimary;
$formError: $colorError;
$formDisabled: $colorDisabled;

// table
$tableBorder: #f1f1f1;
// table th
$tablePrimary: #666;
$tableSecondary: $colorSecondary;
$tableNormal: $colorDisabled;

//-------------------------------------------------------------字型--------//

// 字型設定
$arial: Arial, "PingFang TC", "微軟正黑體", "Microsoft JhengHei", "蘋果儷中黑",
  "Apple LiGothic Medium", sans-serif, "0xe804";
$NotoSansTC: "Noto Sans TC", Arial, "微軟正黑體", "Microsoft JhengHei",
  "蘋果儷中黑", "Apple LiGothic Medium", sans-serif, "0xe804";
//-------------------------------------------------------------版面------//

//基本文字大小
$mainFontSize: 16;

// 內容尺寸設定
$domWidth: 1200px;

// flexTemplate gap值
$flexTemplateGap: 24;

//RWD尺寸設定
$screenSize: (
  //電腦
  notebook: 1180px,
  //平板
  tablet: 991px,
  //手機
  mobile: 767px,
  //極小尺寸
  xsMobile: 575px
);

:root {
  --RWDWidth: #{map-get($screenSize, tablet)}; //RWD切換尺寸設定，以下切換js為手機板相關設定
  --sideFixTop: 80px; //側邊選單top固定位置
  --borderRadius: 8px; //圓角設定
  --borderRadius2: 4px; //圓角設定
}
