.cp {
  color: #111;
  font-size: Rem(18);

  .template {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  > div {
    margin-bottom: 30px;
  }
}

.cpInfo {
  background: #dee0e3;
  color: $colorWord;
  border-left: #ffdb01 5px solid;
  padding: 32px;
}

.pageInfo {
  margin-bottom: 0 !important;
  ul {
    display: flex;
    gap: 16px 32px;
    flex-wrap: wrap;
    border-radius: var(--borderRadius);
    background: rgba($color: #ffffff, $alpha: 0.7);
    color: $colorWordLight;
    @include liReset;
    padding: 16px 24px;

    span {
      color: $colorWord;
    }
  }

  li {
    width: itemWidth(32, 3);

    @include screen("tablet") {
      width: itemWidth(32, 2);
    }

    @include screen("xsMobile") {
      width: 100%;
    }
  }
}

.cpLinkBox {
  & > ul {
    border-top: #97a3b6 3px solid;
    border-bottom: #97a3b6 3px solid;
    @include liReset;

    li {
      padding: 12px 8px 12px 25px;
      position: relative;

      &:not(:last-child) {
        border-bottom: #dee0e3 1px solid;
      }

      &::before {
        content: "";
        width: 3px;
        height: 12px;
        background: #69707d;
        display: block;
        position: absolute;
        left: 8px;
        top: 25px;
      }

      a {
        text-decoration: none;

        &:not(:hover) {
          color: $colorWord;
        }
      }
    }
  }
}
