// wrapper
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // overflow: hidden;
  background: url("../images/bg.png") repeat center center fixed;
  @include screen("tablet") {
    padding-top: 60px;
  }

  & > * {
    width: 100%;
    flex-shrink: 0;
  }
}

// main
main {
  width: 100%;
  position: relative;

  flex-grow: 1;
  background: url("../images/bottomShape.svg") no-repeat left bottom;
  background-size: 87.5% auto;
  &::before {
    content: "";
    position: absolute;
    top: 900px;
    left: 26px;
    width: 165px;
    height: 142px;
    background: url("../images/triangle1.png") no-repeat 0 0;
    display: block;
  }
  &::after {
    content: "";
    position: absolute;
    top: 780px;
    right: 36px;
    width: 150px;
    height: 221px;
    background: url("../images/triangle2.png") no-repeat 0 0;
    display: block;
  }
  &.innerPage {
    padding-top: 30px;
    padding-bottom: 60px;
    background: url("../images/bottomShape.svg") no-repeat left bottom -300px;
    @include screen("tablet") {
      background: url("../images/bottomShape.svg") no-repeat left bottom;
    }
  }
  .mainBox {
    position: relative;
    z-index: 9;
  }
  .hasSide {
    .container {
      display: flex;
      justify-content: space-between;
      gap: 40px;

      @include screen("tablet") {
        flex-direction: column;
      }
    }

    .mainContentBox {
      flex-grow: 1;
      @include transition(0.3);

      @include screen("tablet") {
        width: 100%;
      }
    }
  }

  .mainContentBox {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .pageTitle {
      font-size: Rem(28);
      margin: 0;
      font-weight: 600;
      position: relative;
      text-align: center;
      color: #1a1a1a;
      @include screen("xsMobile") {
        margin-bottom: 20px;
      }
      &::before,
      &::after {
        content: "";
        display: block;
        width: 60px;
        height: 3px;
        position: absolute;
        bottom: -18px;
      }
      &::before {
        background: #808080;
        right: 50%;
      }
      &::after {
        background: #ffdb01;
        left: 50%;
      }
    }

    .mainContent {
      width: 100%;
    }
  }

  &.innerPage:not(.hasSide) section {
    width: 100%;
    margin: 0 auto;
  }
}
